<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <style>
        input {
            display: block;
        }

        ul {
            list-style: none;
        }
    </style>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
<div x-data="{
    data: [],
    add(message) {
        this.data.push(message);
    }
}">
    <ul @message-added.window="data.push($event.detail)">
        <template x-for="message in data">
            <li x-text="message"></li>
        </template>
    </ul>
    <form @submit.prevent="handleSubmit">
        <textarea></textarea>
        <input type="submit" value="Send">
    </form>
</div>
</body>
<script>
    const socket = new WebSocket('ws://localhost:5050/room');

    socket.onopen = () => {
        window.dispatchEvent(new CustomEvent('message-added', {detail: 'connected'}));
    };
    socket.onmessage = (event) => {
        window.dispatchEvent(new CustomEvent('message-added', {detail: event.data}));
    };
    socket.onclose = () => {
        window.dispatchEvent(new CustomEvent('message-added', {detail: 'disconnected'}));
    };

    const handleSubmit = (e) => {
        const target = e.target.elements[0];
        const value = (target.value);
        socket.send(value);
        target.value = '';
    }
</script>
</html>